h1{
    
    font-size: 50px;
    text-align: center;
    padding-left: 10px;
    padding-right: 100px;
    padding-top: 30px;
    font-weight: bold;
    text-decoration: underline;
}




nav{
    text-decoration: underline;
}
    #a{
    font-size: 20px;
    font-weight: bold;
}
